@*@model IEnumerable<EAP_MUSIC.Models.Album>*@
@model PagedList.IPagedList<EAP_MUSIC.Models.Album>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    @*<tr>
            <th>
                @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm })
            </th>
            <th>
                First Name
            </th>
            <th>
                @Html.ActionLink("Artist/Genre", "Index", new { sortOrder = ViewBag.SortParm })
            </th>
            <th></th>
        </tr>*@
    <tr>
        <th>
            @*@Html.ActionLink("Genre", "Index", new { sortOrder = ViewBag.GenreSortParm })*@
            Genre
        </th>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm })
        </th>
        <th>
            @Html.ActionLink("Release Date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.ActionLink("Artist", "Index", new { sortOrder = ViewBag.ArtistSortParm })
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AlbumId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AlbumId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AlbumId })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
